@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    border: none;
}
#blurtext {
    color: white;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;

}
#blur {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}