/**Page 2 CSS File**/
* {
    padding: 0;
    margin: 0;
}

#intro {
    font-size: 1.25rem;
}
h1 {
    margin-bottom: 15px;
}
#titlehr {
    height: 10px;
    border: none;
    margin: 20px 0;
}
.normalhr {
    height: 15px;
    border: none;
}
#myBtn {
    font-size: 1.25rem;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    padding-left: 5px;
}
/**The Articles for the page**/



.kropp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article1 {
    height: 10rem;
    width: 30rem;
    border: 1rem black solid;
    margin: 5rem;
}
.article2 {
    height: 10rem;
    width: 30rem;
    border: 1rem black solid;
    margin: 5rem;
}
.article3 {
    height: 10rem;
    width: 30rem;
    border: 1rem black solid;
    margin: 5rem;
}
.article4 {
    height: 10rem;
    width: 30rem;
    border: 1rem black solid;
    margin: 5rem;
}
.article5 {
    height: 10rem;
    width: 30rem;
    border: 1rem black solid;
    margin: 5rem;
}
.article6 {
    height: 10rem;
    width: 30rem;
    border: 1rem black solid;
    margin: 5rem;
}
