#navbartitle {
    display: none;
}
#navbartitle, #navbartitlem {
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: .3rem;
    color: inherit;
    text-decoration: none;
    margin-right: 2;
}
#menu-appbar {
    display: none;
}
#navbartitlem {
    flex-grow: 1;
    display: none;
}
#appbar {
    background-color: black;
}

.navbarb {
    color: white;
    text-decoration: none;
}
#navbarbuttons {
    display: none;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2;
    flex-grow: 1;
  }

  #dropdownbox {
    display: none;
    flex-grow: 1;
  }

#dropdownitems {
    list-style: none;
    padding: 0;
}
#dropdownitems li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

  @media (min-width: 768px) {
    #navbarbuttons {
      display: flex;
    }
    #navbartitle {
        display: flex;
    }
  }

  @media (max-width: 768px) {
    #navbartitlem {
      display: flex;
    }
    #menu-appbar {
        display: block;
    }
    #dropdownbox {
        display: flex;
    }
  }